In [ ]:
1.In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

values are 'hello', -87.8, 6 and expressions(mathematical operaters are *, -, /,+

In [ ]:
2.What is the difference between string and variable?

string: string is datatype(sequence of characters,surrounded by single double or triple quotes) which can be stored inside a variable.
variable: it is a store of different data types eg. string,integer,list or tuples
z = 'khushboo'
so, here we have stored an information as string inside a variable called z.
we can say that string is information and variable is a store of information.

In [ ]:
3.Describe three different data types.

# numeric literals:
(1) integer:  an int contant must have atleast one digit and must not contain any decimal points.it may contain (+) or (-)       sign.number with no sign assumed as positive. 
(2) floating point literals: it contains decimal numbers.ex. 2.0,17.5,-13.0, -0.00625  
(3) Complex literals: it contains a complex no's real part and imaginary part.
# string literals:
  string is a sequence of characters,surrounded by single,double or triple quotes.
# Boolian literals:
  it is used to represent two boolian values True or False.it can either have values as True or False.
# literal collection:
  list,tuple,dict,set

In [ ]:
4. What is an expression made up of? What do all expressions do?

it is a legal combination of symblos which produces a value when evaluated.
ex. (3+5)/4

In [ ]:
5. What is the difference between an
expression and a statement?

expression is legal combination of symbols that produces a value.it represents a value.
statement is a programming instruction that does something.some action takes place.
an expression is evaluated thus yield a value but a statement is executed and thus may or may not yield a value. 
print('hello')          #this statement calls print function.
if b> 5:
    .
    .

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [1]:
bacon= 22                       #variable bacon contains 22.
print(bacon + 1)

23

In [2]:
bacon =bacon +1

In [3]:
bacon

23

In [ ]:
7. What should the values of the following two terms be?
'spam'+ 'spamspam'
 'spam' * 3

In [26]:
'spam'+'spamspam'

'spamspamspam'

In [27]:
'spam'*3

'spamspamspam'

In [25]:
8. Why is eggs a valid variable name while 100 is invalid?

literals(numeric,string,special,boolian,and literal collections) can not be assigned as variable.
100 is a numeric literal(integer) ,so it can not be a valid variable.eggs is a sequence of character without quotes and it does not come under any
literal so it's a valid variable.

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [32]:
a= 10
int(a)

10

In [34]:
float(a)

10.0

In [35]:
str(a)

'10'

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten'+ 99 + 'burritos'

In [ ]:
#given expression can not be concatenated because all of three ,two is string datatype and 99 is an integer.string and integer
can not be concatenated.to concatenate all must be a same datatype.so.convert 99(int) to string and then we can fix this error.

In [44]:
'i have eaten ' +'99'+ ' burritos'

'i have eaten 99 burritos'